html, body{
    background-color: rgb(164, 164, 164) !important;
}
form{
    margin:0.20cm;
}
header{
    background-color: #36d4ed;
    margin: 0.20cm;
    border-radius: 5px;
    padding: 0.20cm;
    padding-left: 0.40cm;
    padding-right: 0.40cm;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    size: 16px;
    color: #77f686;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.20cm;
    size: 14px;
    color: #77f686;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    size: 12px;
    color: #000000;
}
a{
    text-decoration: none;
}
footer{
    background-color: #75dfed;
    margin: 0.20cm;
    border-radius: 5px;
    height: 3.6cm;
}
.custom{
    height: 1.3cm !important;
    align-self: center !important;
    margin-left: 7%;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;
    font-size: small !important;
}
.custom2{
    height: 0.9cm !important;
    align-self: center !important;
    margin: auto !important;
    font-size: small !important;
}
div.Menu{
    justify-content: center;
    text-align: center;
    display: table;
    align-self: center;
    margin: auto;
    border-radius: 5px;
    padding: 0.20cm;
}
div.Contacto{
    text-align: center;
    display: table;
    background-color: #36d4ed;
    align-self: center;
    margin-left: auto;
    border-radius: 5px;
    padding: 0.20cm;
    width: 9cm;
    height: 3.2cm;
}
div.centro{
    justify-content: center;
    text-align: center;
}
span.separarBotones{
    margin-left: 0.10cm;
    margin-right: 0.10cm;
}
#Icon{
    width: 1.7cm;
    height: 1.7cm;
}
.select{
    pointer-events: none;
}